<div class="highlight-box news-box">

  <div class="highlight-label">LATEST NEWS</div>

  {% if include.news_id %}

    {% assign news = site.posts | where: "news_id", include.news_id | first %}

    {% if news %}

      {% if news.link %}
        <strong><a href="{{ news.link }}">{{ news.title }}</a></strong>
      {% else %}
        <strong>{{ news.title }}</strong>
      {% endif %}

      <p>
        {{ news.excerpt | strip_html }}
      </p>

    {% endif %}

  {% else %}

    {% assign news = site.posts | sort: "date" | reverse %}

    {% for item in news limit:3 %}

      {% if item.link %}
        <strong><a href="{{ item.link }}">{{ item.title }}</a></strong>
      {% else %}
        <strong>{{ item.title }}</strong>
      {% endif %}

      <p>
        {{ item.excerpt | strip_html }}
      </p>

      {% unless forloop.last %}
        <br/>
      {% endunless %}

    {% endfor %}

  {% endif %}

</div>