/* ==========================================================================
   Buttons
   ========================================================================== */

.btn {
  display: inline-flex;      // replace inline-block
  align-items: center;       // add this
  justify-content: center;   // add this
  white-space: nowrap;       // add this
  font-size: clamp(0.75rem, 2vw, 1rem); // add this
  padding: 0.5em 1em;
  border: 0;
  border-radius: $border-radius;
  background-color: $accent-color;
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: tint($accent-color, 20%);
    color: #fff;
  }

  &:focus {
    background-color: shade($accent-color, 20%);
  }

  .icon {
    margin-right: 0.5em;
  }

  /* block button fills width of parent container */
  &--block {
    display: block;
    width: 100%;

    + .btn--block {
      margin-top: 1rem;
    }
  }
}


.btn-emaw {
  background-color: #e84a5f;

  &:hover {
    background-color: lighten(#e84a5f, 10%);
  }
}

.btn-lherzolite {
  background-color: #b56586;

  &:hover {
    background-color: lighten(#b56586, 10%);
  }
}

.btn-merema {
  background-color: #6c8ebf;

  &:hover {
    background-color: lighten(#6c8ebf, 10%);
  }
}

.btn-webinars {
  background-color: #1f9acb;

  &:hover {
    background-color: lighten(#1f9acb, 10%);
  }
}


.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}